.scores {
    border: solid black 2px;
    background-color: gray;
    margin: 10px;
    text-align: center;
}

.scores > div {
    display: inline-block;
    margin: 2px;
}

.result-div {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons > button {
    margin: 5px;
    padding: 5px;
}

#playerimg {
    float: left;
}

#computerimg {
    float: right;
}